h1 {
  margin: 0;
}
body {
  margin: 0;
}
input {
  border: none;
  font-size: 14px;
  outline: none;
  padding: 6px 12px;
  border-bottom: 1px solid #d6d6d6;
  margin: 16px 0;
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
}
.row {
  flex-direction: row;
}
.mid {
  align-items: center;
}
.center {
  justify-content: center;
}
.first {
  justify-content: flex-start;
}
.finally {
  justify-content: flex-end;
}
.above {
  align-items: flex-start;
}
.under {
  align-items: flex-end;
}
.between {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
.cover {
  width: 400px;
}
.feature {
  box-shadow: inset 0px -1px 0px rgb(0 0 0 / 10%);
}
.full-width {
  width: 100%;
}
.hide {
  display: none;
}
.btn {
  cursor: pointer;
  border: none;
  font-size: 14px;
  font-weight: bold;
  width: 150px;
  padding: 6px 0px;
}
.action {
  background: #1da1f2 !important;
  color: white !important;
}
.non-action {
  background: white;
  color: #1da1f2;
  border-bottom: 1px solid #1da1f2;
}
.big-text {
  margin: 10px 0;
  color: #1da1f2;
}
.brand {
  background-color: #f8f8f8;
  box-shadow: inset 0px -1px 0px rgb(0 0 0 / 10%);
}
.todo-label {
  margin-left: 8px;
  max-width: 240px;
  cursor: pointer;
}
.countdown-label {
  margin-right: 4px;
  font-size: 14px;
  color: rgb(104, 104, 104);
}
.list-todo {
  padding: 0 20px;
  word-wrap: break-word;
}
.mini-input {
  width: 34px;
}
.around {
  justify-content: space-around;
}
.input-todo {
  width: 300px;
}
.start-countdown {
  background-color: white;
  width: auto;
  border: 1px solid #1da1f2;
  padding: 6px 10px;
  border-radius: 6px;
  color: #1da1f2;
}
.btn-start-todo {
  background-color: white;
  border: 1px solid #1da1f2;
  border-radius: 4px;
  padding: 8px 0;
  color: #969696;
}
.setting-title {
  font-size: 18px;
  font-weight: 700;
  color: #4867aa;
  margin: 20px 0;
}
.input-child {
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.facebook {
  color: #4867aa !important;
}
.youtube {
  color: #ff011d !important;
}
.instagram {
  color: #ea7030 !important;
}
.tiktok {
  color: black !important;
}
.btn-icon {
  border: none;
  background-color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  padding: 8px;
  color: rgb(220, 220, 220);
}
.brand-icon {
  width: 200px;
  padding: 12px 0;
}

#time {
  font-size: 22px;
  color: #1da1f2;
}

.start {
  justify-content: flex-start;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  color: rgb(134, 134, 134);
}

#count-machine {
  display: none;
}
.img-tab {
  max-width: 32px;
  fill: #1da1f2;
}
.icon-action {
  fill: white !important;
}
